 ion-content {
     background-image: url(../../assets/imgs/cake.JPG);
     height: 100%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
    
        }
        
h1{
    text-align: center;
    position: center;
    margin-bottom: 18em;
    color: pink;
}

h2{
    text-align: center;
    position: center;
    margin-bottom: 495px;
    color: pink;
}
ion-title {
    text-align: center;
    position: center;
}